<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
		<title>JayFood | Indonesian Flavors, Endless Choices</title>
	</head>
	<body>
		<header class="container">
			<div class="logo">
				<img src="./images/logo/logo.jpeg" width="50px" alt="Logo JayFood" />
				<span><span class="text-orange">Resto</span>Jay</span>
			</div>
			<nav>
				<ul>
					<li><a class="font-semibold text-orange" href="/">Home</a></li>
					<li><a href="#">Favourite</a></li>
					<li><a href="#">About Us</a></li>
				</ul>
			</nav>
		</header>
		<main class="container">
			<section class="hero">
				<h1 class="tagline">Indonesian Flavors, Endless Choices</h1>
			</section>
			<section class="restos">
				<h2>Explore Restaurant</h2>
				<div id="restoCards" class="resto-cards"></div>
			</section>
		</main>
	</body>
</html>
