<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Free movie catalogue for you" />
		<meta name="theme-color" content="#ff8000" />
		<link rel="manifest" href="./app.webmanifest" />
		<link rel="icon" href="./favicon.ico" />
		<link rel="apple-touch-icon" href="/icons/icon-192.png" />
		<link rel="preload" as="script" href="https://kit.fontawesome.com/22c0b9ff9a.js" />
		<title>JayFood | Indonesian Flavors, Endless Choices</title>
	</head>
	<body>
		<a tabindex="0" href="#mainContent" class="skip-link">Menuju ke konten</a>
		<header class="container">
			<div class="logo">
				<a href="/">
					<img src="./images/logo/logo.jpeg" width="50px" height="50px" alt="Logo JayFood" />
					<span><span class="text-orange">Resto</span>Jay</span>
				</a>
			</div>
			<nav>
				<button tabindex="0" id="hamburger">
					<img class="hamburger" src="./icons/burger-menu.svg" width="48px" height="48px" alt="hamburger menu" />
				</button>
				<ul id="navLinks" class="">
					<li><a tabindex="0" class="" href="/">Home</a></li>
					<li><a tabindex="0" href="#/favourite">Favourite</a></li>
					<li><a tabindex="0" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/deni-wijaya-321b89220/">About Us</a></li>
				</ul>
			</nav>
		</header>
		<main id="mainContent" tabindex="0" class="container"></main>
		<footer>
			<div class="footer-content container">Copyright © 2023 - Deni Wijaya</div>
		</footer>
	</body>
</html>
