@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'cards.css';
@import 'hero.css';
@import 'detail.css';

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
}

img {
  display: block;
}

/* utils */
.flex {
  display: flex;
}

.just-between {
  justify-content: space-between;
}

.just-left {
  justify-content: start;
}

.items-center {
  align-items: center;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.gap-1 {
  gap: 0.3rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.8rem;
}

.gap-4 {
  gap: 1rem;
}

/* ----- */
.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.logo img {
  border-radius: 100%;
}

.logo span {
  font-weight: 800;
  font-size: 32px;
  color: #252526;
}

header {
  padding: 24px 16px;
}

nav #hamburger {
  background-color: transparent;
  border: none;
}

nav .hamburger {
  display: block;
  width: 48px;
  padding: 4px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

nav ul {
  display: none;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 16px;
  display: inline-block;
  color: #5b5c5e;
  font-size: 24px;
}

nav ul li:hover a {
  color: #141414;
}

.text-orange {
  color: #b35c00 !important;
}

.font-semibold {
  font-weight: 600;
}

h2 {
  margin: 24px 0px;
  font-size: 32px;
}

.footer-content {
  width: 100%;
  margin: 0 auto;
  margin: 48px 0px;
}


.showNav {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: #ffffff;
  padding: 24px;
  border-radius: 24px;
  z-index: 10;
  text-align: right;
  position: absolute;
  right: 16px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #b35c00;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b35c00;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

/* add reviews */
.add-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 0px;
}

.input-reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.input-reviews input,
.input-reviews button {
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 8px 1px 48px -9px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 8px 1px 48px -9px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 8px 1px 48px -9px rgba(0, 0, 0, 0.06);
}

.input-reviews button {
  background-color: #b35c00;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}

/* ----------- */

/* custom loader */
.loader-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-loader {
  width: 50px;
  height: 24px;
  background:
    radial-gradient(circle closest-side, #b35c00 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, #b35c00 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, #b35c00 90%, #0000) 100% 50%;
  background-size: calc(100%/3) 12px;
  background-repeat: no-repeat;
  animation: d3 1s infinite linear;
}

/* --------- */

@keyframes d3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}

/* responsive */

@media screen and (min-width: 768px) {
  .resto-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero {
    max-width: 100%;
  }

  .menus {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }

  .resto-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  nav #hamburger {
    display: none;
  }

  nav ul {
    display: flex;
    gap: 16px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .hero {
    width: 1200px;
    background-image: url('./images/heros/hero-image_1-large.webp');
  }

  .menus {
    gap: 24px;
  }
}