@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
}

img {
  display: block;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.logo img {
  border-radius: 100%;
}

.logo span {
  font-weight: 800;
  font-size: 32px;
  color: #252526;
}

header {
  padding: 24px 0;
}

nav ul {
  display: flex;
  gap: 16px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #5b5c5e;
}

nav ul li:hover a {
  color: #141414;
}

.text-orange {
  color: #ff8000 !important;
}

.font-semibold {
  font-weight: 600;
}

.hero {
  height: 50vh;
  overflow: hidden;
  background-image: url('../public/images/heros/hero-image_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero::before {
  content: "";
  background-color: #141414;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero .tagline {
  color: #ffffff;
  font-size: 60px;
  z-index: 2;
}

.restos {
  text-align: center;
  margin: 0 40px 0 40px;
}

.restos h2 {
  font-size: 32px;
  margin: 24px 0 24px;
}

.resto-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  text-align: left;
}

.resto-item {
  border-radius: 12px;
  overflow: hidden;
}

.resto-item img {
  width: 100%;
  height: 250px;
}